@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(top right, #bef264, #00918D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input:focus {
  outline: none;
}
